@font-face {
    font-family: "Dead Kansas";
    src: url('../fonts/DeadKansas.woff') format('woff'),
        url('../fonts/DeadKansas.ttf') format('truetype');
}

body {
    background: #1C1713;
    color: #fff;
    font-family: "Dead Kansas", "Lucida Console", sans-serif;
}

div#wrapper {
    position: relative;
    width: 960px;
    height: 720px;
    margin: 0 auto;
    background: no-repeat;
    background-image: url("../images/city.png");
}

#logo {
    position: absolute;
    top: 50px;
    left: 35px;
    font-size: 100px;

}

#subLogo {
    position: relative;
    top: 180px;
    right: 45px;
    font-family: "Dead Kansas", "Lucida Console", sans-serif;
    font-size: 30px;
    float: right;
}

nav {
    position: absolute;
    top: 500px;
    left: 130px;
}

li, p {
    list-style-type: none;
    font-family: "Helvetica", sans-serif;
    margin: 5px;
}

nav li {
    margin: 20px;
    float: left;
}

.credits {
    position: relative;
    top: 500px;
    left: 200px;
    float: left;
}

.title {
    color: red;
    font-size: 250%;
    font-family: "Dead Kansas", "Lucida Console", sans-serif;
}

a {
    color: #fff;
    text-decoration: none;
}

nav a {
    font-size: 25px;
    display: block;
}

a:hover {
    color: red;
}

h1, h3, p {
    color: #fff;
    display: block;
    text-indent: 20px;
}

p {
    background: rgba(0,0,0,.9);
}

h3, .red {
    color: red;
}

#footer {
    position: absolute;
    bottom: 25px;
    left: 25px;
    font-family: Helvetica, "Lucida Console", sans-serif;
}

#backstoryFooter {
    position: absolute;
    left: 370px;
    bottom: 40px;
    text-align: center;
    font-family: "Helvetica";
    background: rgba(0,0,0,.7);
    padding: 10px;
}

p.directions {
    position: relative;
    top: 510px;
    line-height: 38px;
}

p.story, p.backstory {
    position: relative;
    top: 120px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 700px;
}

p.story {
    line-height: 25px;
}

ul#choices {
    background: rgba(0,0,0,.7);
    position: absolute;
    bottom: 100px;
    max-width: 720px;
    text-align: center;
    padding: 20px;
    margin: 0 auto;
}

ul#choices > li {
    padding: 0;
    margin: 5px 0;
}

#choices a {
    padding: 0;
    margin: 0;
}

table#leaderboard {
    font-family: Helvetica, "Lucida Console", sans-serif;
    border-collapse: collapse;
    border: 1px solid #fff;
    background: rgba(0,0,0,.5);
    position: absolute;
    top: 240px;
    left: 280px;
}

table#leaderboard td, table#leaderboard th {
    border-top: 1px solid #fff;
    width: 180px;
    height: 30px;
    text-align: center;
}

ul#diceRolls {
    position: relative;
    background: rgba(0,0,0,.7);
    width: 700px;
    text-align: center;
    padding: 0;
    margin: 0 auto;
    top: 120px;
    font-size: 200%;
}

li#total {
    font-size: 200%;
}

table#submitScore {
    position: relative;
    width: 450px;
    margin: 0 auto;
    top: 500px;
    font-size: 200%;
    line-height: 50px;
}

#submitScore input {
    font-size: 150%;
    width:200px;
}

#submitScore input#button {
    width: 400px;
}

canvas#smoke, canvas#blood {
    position: absolute;
    margin: 0 auto;
    width: 960px;
    height: 720px;
}

div#wrap {
    position: relative;
    width: 960px;
    margin: 0 auto;
}